html {
    font-size: 16px;
}


/* Make the header responsive */

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
}

h2 {
    margin-top: 2%;
    text-align: center;
}


/* Make the form responsive */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}


/* Style the form labels and inputs */

label {
    display: block;
    margin: 0.5rem 0;
    font-weight: bold;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

button {
    display: inline-block;
    background-color: #4CAF50;
    color: #f3efef;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 26%;
}

button:hover {
    background-color: #3e8e41;
}


/* Make the buttons responsive */

button {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

@media screen and (min-width: 768px) {

    /* Increase the font size for larger screens */
    html {
        font-size: 18px;
    }

    /* Increase the width of the form for larger screens */
    form {
        max-width: 600px;
    }
}