.password-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    gap: 1rem;
    padding-right: .5rem;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
}
.password-container input {
    /* padding-inline: 1rem; */
    padding-block: .3rem;
}
.password-container input:focus {
    outline: none;
}