/* Base styles */

#Requestforbook {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    padding: 20px;
    margin: 20px;
    width: 40%;
    margin-left: 30%;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}