.popup-container {
  text-align: center;
  /* margin-top: 50px; */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.popup-content {
  background-color: white;
  padding: 20px 0px 20px 0px;
  width: 350px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content button {
  background-color: #378109;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}