/* Base styles */

.form {
    background-color: #d9e6d1;
    border-radius: 31px;
    box-shadow: 0 0 10px #aaa;
    padding: 20px;
    margin: auto;
    width: 70%;
    display: block;
}

h2 {
    /* margin-left: 26%; */
    margin-bottom: 5%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}