body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
  background-image: url('Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.flex-container {
  background-color: #407e1a;
  padding: 8px;
  color: #fff;
  text-align: center;
}

img {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}


.menu-items {
  position: absolute;
  top: 70px;
  right: 20px;
}

.menu-items a {
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.menu-items a:hover {
  text-decoration: underline;
}

.signup-btn {
  position: absolute;
  right: 5px;
  top: 25px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.signup-btn:hover {
  background-image: linear-gradient(to left, #407e1a 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
  color: #407e1a;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  max-height: 200px;
  text-align: justify;
  /* change this value as needed */
}


.about-us {
  margin: 10px;
  padding: 10px;
  color: black;
}

.about-us h4 {
  margin-bottom: 5px;
}